<!DOCTYPE html>
@import play.mvc.Http.Context.Implicit._
<html>
<head>
    <title>Reactive Stock News Dashboard</title>
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/twitter.css")">
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-modalcss-bs3patch.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-modal.css")">
    
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.flot.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.flot.time.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
	
</head>
<body data-ws-url="@routes.Application.ws.webSocketURL(request)">

	<div class="navbar navbar-inverse navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <p class="brand" >Bitcoin Trading Tool</p>
	        </div>
	    </div>
	</div>
	
	
	
	<div class="jumbotron2">
	    <div class="container">
	            
	            <div class="panel panel-default" id ="chartholder">
					<div class="panel-heading">
						<h3 class="panel-title" >Live stock exchanges
							<div id = "plotOption">
				Number of values to plot: <input type="text" name="textboxplotsize" value="1000" size="3">
					<input id="submitplotsize" type="button" value="Update" onclick="updatePlotSize();">
							</div>
						
						
						</h3>
					</div>
					<div class="panel-body">
						<div id="chart"></div>
					</div>
				</div>	
				
			
          
         
				
				<div class="panel panel-default" id="statpanel" >
					<div class="panel-heading">
						<h3 class="panel-title">Statistics</h3>
					</div>
					<div class="panel-body" id="stats">
						
						
	
        
               
				<div class="row">
					<div class="col-xs-4">
						<div id="secondary-stat-item1" class="secondary-stat-item big-number-stat clearfix">
							<div class="data">
								<span class="col-left big-number" id="price">$452.23</span>
								<span class="col-right">
									<em>Bitcoin Live</em>
									<em>Price <i class="fa fa-caret-down"></i>
									</em>
								</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div id="secondary-stat-item2" class="secondary-stat-item big-number-stat clearfix">
							<div class="data">
								<span class="col-left big-number" id="senti">Positive</span>
								<span class="col-right">
									<em>Sentiment</em>
									<em id="sentipercent">3%
									</em>
								</span>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div id="secondary-stat-item3" class="secondary-stat-item big-number-stat clearfix">
							<div class="data">
								<span class="col-left big-number" id="gain">$0</span>
								<span class="col-right">
									<em>Money gain</em>
									<em id="transact">0 transactions<i class="fa fa-caret-down"></i>
									</em>
								</span>
							</div>
						</div>
					</div>
				</div>
								
		</div>
				</div>
			
			
			
			
			
	
	        <div class="panel-group" id="accordion">
				<div class="panel panel-default" id="panel1">
					<div class="panel-heading">
						<h4 class="panel-title" >
							<a class="accordion-toggle" id="tweetHeader" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
								Live Tweet Feed <i class="icon-chevron-up"></i>
							</a>
						</h4>
					</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body" id="tweetList">
						<p>No tweets at the moment, please wait...</p>
					</div>
				</div>
			</div>
	  
		</div>
	</div>

	
	


	<div id="footer">
      <div class="container">
        <p class="text-muted">Created by Marzell Camenzind, Jonathan Cheseaux, Ilia Kebets, Fabien Schmitt, Igor Vokatch-Bodyrev</p>
      </div>
    </div>



</body>
</html>
