<!DOCTYPE html>
@import play.mvc.Http.Context.Implicit._
<html>
<head>
    <title>Reactive Stock News Dashboard</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.flot.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
	<script type='text/javascript'>
	$('.row .btn').on('click', function(e) {
    e.preventDefault();
    var $this = $(this);
    var $collapse = $this.closest('.collapse-group').find('.collapse');
    $collapse.collapse('toggle');
	});
	</script>

</head>
<body data-ws-url="@routes.Application.ws.webSocketURL(request)">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Bitcoin Trading</a>

            <form id="addsymbolform" class="navbar-form pull-right"></form>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">

        <div id="chart" style="width:920px; height:250px;"></div>

        <div class="row">
            <div id="price" class="col-md-4">PRICE HERE</div>
            <div class="col-md-4">SENTIMENT HERE</div>
            <div class="col-md-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg btn-block dropdown-toggle"
                            data-toggle="dropdown">
                        Select Market <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">BTC-e</a></li>
                        <li><a href="#">Bitstamp</a></li>
                        <li><a href="#">Bitfix</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="tweetHeader">Live Tweets</div>

        <div id="tweetList"></div>

    </div>
</div>


</body>
</html>
