.perspective (@value) {
  -webkit-perspective: @value;
  -moz-perspective: @value;
  perspective: @value;
}
.transform (@value) {
  -webkit-transform: rotateY(@value);
  -moz-transform: rotateY(@value);
  transform: rotateY(@value);
}
.border-radius (@value) {
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}
body {
  margin-top: 50px;
}
.flip-container {
  .perspective(1000);
  &:hover .flipper {
    .transform(0deg);
  }
  &.flipped .flipper {
  .transform(180deg);
  }
}


#tweetList {
	position: relative
    border: 1px solid grey;
    border-radius: 3px;
    background-color: gray;
    overflow: auto;
    color: white;
    height: 200px;
    font-size: large;

	margin-right: auto;
	margin-left: auto;
}

.postweet {
    color: white;
    background-color: #295200;
    font-size: small;
    padding-left:5px; 
    padding-right:5px; 
    padding-top: 5px;
    padding-bottom: 5px;
}
.negtweet {
    color: white;
    background-color: #822100;
    font-size: small;
    padding-left:5px; 
    padding-right:5px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

#tweetHeader{
	position: relative
    border: 1px solid grey;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: large;
    padding-left:20px; 
    padding-right:20px; 
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;

	margin-right: auto;
	margin-left: auto;
}

.chart {
  position: relative;
  width: 920px;
  height: 210px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
